<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <h1>{{title}}</h1>
        <p>Hier erscheint das Impressumm.</p>
    {{> footer}}
        <!-- Optional JavaScript -->
    {{> scripts}}
    </body>
</html>
