<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <div id="board">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    {{> sidebar}}
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="jumbotron" id="board-caption">
                        {{> alerts}}                            
                        <div class="container" id="bmembers" role="tabpanel" aria-labelledby="dashboard-tab">
                            <p>
                                <h5>Breaks verwalten</h5>
                            </p>
                            <table id="allBreaksTable" class="table table-border table-light table-hover">
                            <thead>
                                <tr>
                                <th>Datum</th>
                                <th>Spieler</th>
                                <th>Break</th>
                                <th></th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody id="allBreaks">
                                {{#each breaks}}
                                <tr>
                                    <td>{{formatDate datum}}</td>
                                    <td>{{player}}</td>
                                    <td>{{break}}</td>
                                    <td><button class="btn btn-primary editBreak" data-toggle="modal" data-target="#breaksModal">Ändern</button></td>
                                    <td><button role="button" class="btn btn-primary deleteBreak">Löschen</button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="breaksModal" tabindex="-1" role="dialog" aria-labelledby="billModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="breaksModalLabel">Break bearbeiten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editbreakform" method="POST" action="/board/editbreak">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="datum">Datum</label>
                            <input type="text" class="form-control change" onfocus="(this.type='date')" name="datum" id="breakdatum" disabled>
                            <label for="player">Spieler</label>
                            <input type="text" class="form-control change" name="player" id="player" disabled>
                            <label for="break">Break</label>
                            <input type="number" class="form-control change" min="1" max="155" name="break" id="break" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="change" class="btn btn-primary m-1">Ändern</button>
                        <button type="button" id="close" class="btn btn-primary m-1" data-dismiss="modal" aria-label="Close">Abbrechen</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    {{> footer}}
        <!-- Optional JavaScript -->
    {{> scripts}}
    <script type="text/javascript" src="/js/boardbreaks.js"></script>
    </body>
</html>