<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <div id="board">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    {{> sidebar}}
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="jumbotron" id="board-caption">
                        {{> alerts}}
                        <div class="tab-pane fade show active" id="breaks" role="tabpanel" aria-labelledby="dashboard-tab">
                            Breaks verwalten
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{> footer}}
        <!-- Optional JavaScript -->
    {{> scripts}}
    </body>
</html>