<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <div id="board">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    {{> sidebar}}
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="jumbotron" id="board-caption">
                        {{> alerts}}
                        <div class="container" id="bmembers" role="tabpanel" aria-labelledby="dashboard-tab">
                            <p>
                                <h5>Mitgliederverwaltung</h5>
                            </p>
                            <table id="membersTable" class="table table-border table-light table-hover">
                            <thead>
                                <tr>
                                <th>Username</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                </tr>
                            </thead>
                            <tbody id="allMembers">
                                {{#each members}}
                                <tr data-toggle="modal" data-target="#memberModal"class="{{#if isBoardMember}} table-info{{/if}}{{#unless aktiv}} table-active{{/unless}} ">
                                    <td>{{username}}</td>
                                    <td>{{firstname}}</td>
                                    <td>{{lastname}}</td>
                                </tr>                                
                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="memberModalLabel">Mitgliedschaften</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row my-3">
                                <div id="memberships" class="col-12">
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    {{> footer}}
        <!-- Optional JavaScript -->
    {{> scripts}}
    <script type="text/javascript" src="/js/boardmemberships.js"></script>
    </body>
</html>