<!DOCTYPE html>

<html >
    {{> head}}
    <body>
        <div id="user" customid="{{userId}}"></div>
        <div id="bill" customid="{{billId}}"></div>

        <!-- Optional JavaScript -->
    {{> scripts}}
    <script type="text/javascript" src="/js/jspdf.min.js"></script>
    <script type="text/javascript" src="/js/printbill.js"></script>
    <script type="text/javascript" src="/js/downloadbill.js"></script>
    </body>
</html>