<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}

    <div id="stage">
        <div class="container-fluid" id="stage-caption">
            <h1 class="display-3">Willkommen im Snookerclub Neubrandenburg</h1>
            {{> alerts}}
            <a href="/login"><button type="Link" class="btn btn-success" href="/login">Melde dich hier an!</button></a>
        </div>
    </div>

    <section id="feature-one">
        <div class="jumbotron feature-content">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map" style="width:100%;height:400px;"></div>
                </div>
                <div class="col-lg-6" id="info">
                        <h2>Informationen</h2>
                        <p class="lead">Snookerclub Neubrandenburg e.V.</p>
                        <p>
                            Nonnenhofer Straße 60<br>
                            17033 Neubrandenburg
                        </p>
                        <p class="lead">Email</p>
                        <p>
                            snookertempel@gmail.com
                        </p>
                        <p class="lead">Preise</p>
                        <p>
                            Es fällt pro Person eine Tischmiete in Höhe von <b>3,50 € pro Stunde</b> an.
                        </p>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
        <!-- Optional JavaScript -->
    <script type="text/javascript">
        function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(53.538916,13.259920); 
        var mapOptions = {center: myCenter, zoom: 15};
        var map = new google.maps.Map(mapCanvas,mapOptions);
        var marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
        });
        marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtZwfxgIwVj0P1FUfUNVZg3jcZKnKhgpM&callback=myMap" asycn defer></script>
    {{> scripts}}
    </body>
</html>