<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    <div id="stage">
        <div class="container-fluid" id="stage-caption">
            <p class="display-3">Diese Seite wird gerade gewartet.</p>
        </div>
    </div>
    {{> footer}}
        <!-- Optional JavaScript -->
    {{> scripts}}
    </body>
</html>
