<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <div id="members">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    {{> sidebar}}
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="jumbotron" id="members-caption">
                        {{> alerts}}
                        <div class="container">
                            <p>
                                <h5>Meine Breaks</h5>
                            </p>
                            <table class="table table-border table-light">
                            <thead>
                                <tr>
                                <th>Rang</th>
                                <th>Datum</th>
                                <th>Spieler</th>
                                <th>Break</th>
                                </tr>
                            </thead>
                            <tbody id="myBreaks">
                                {{#if breaks}}
                                {{#each breaks}}
                                <tr>
                                <th>{{inc @index}}.</th>
                                <td>{{formatDate datum}}</td>
                                <td>{{player}}</td>
                                <td>{{break}}</td>
                                </tr>                                
                                {{/each}}
                                {{/if}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>


        <!-- Optional JavaScript -->
        
        {{> scripts}}
        <!-- Additional JavaScript -->
    </body>
</html>