<!DOCTYPE html>

<html >
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        <link rel="icon" href="img/snookericon.ico" type="image/x-icon"/>
        <title>{{title}}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/snookerclub.css">
    </head>
    <body>
    {{> headerMembers}}
        <div id="members" class="py-5">
            <div class="row my-5">
                <div class="col-md-10 p-1">
                    <div class="jumbotron" id="members-caption">
                        <div class="tab-content d-block" id="myTabContent">
                            <div class="tab-pane fade show active" id="übersicht" role="tabpanel" aria-labelledby="übersicht-tab">Übersicht</div>
                            <div class="tab-pane fade" id="gastspieler" role="tabpanel" aria-labelledby="gastspieler-tab">Gastspieler</div>
                            <div class="tab-pane fade" id="breaks" role="tabpanel" aria-labelledby="breaks-tab">Breaks</div>
                            <div class="tab-pane fade" id="rechnungen" role="tabpanel" aria-labelledby="rechnungen-tab">Rechnungen</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 p-1">
                    <div class="btn-group-vertical d-block" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>                  
                    </div>
                </div>
            </div>
        </div>
    {{> footer}}
        <!-- Optional JavaScript -->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <!--<script type="text/javascript" src="js/popper.js"></script>--><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </body>
</html>