    {{#if error}}
        <div class="alert alert-danger alert-dismissable ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            {{error}}
        </div>
    {{/if}}
    {{#if error_msg}}
        <div class="alert alert-danger alert-dismissable ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            {{error_msg}}
        </div>
    {{/if}}
    {{#if success_msg}}
        <div class="alert alert-success alert-dismissable ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            {{success_msg}}
        </div>
    {{/if}}