        <footer>
            <div  class="jumbotron jumbotron-fluid">
                <div class="row justify-content-center">
                <div class="col-4">
                    <p>Create by Christoph Mrasek - &copy; Copyright Snookerclub Neubrandenbug {{getCurrentYear}}</p>
                </div>
                <div class="col-4">
                    <p class="float-right">
                        <a href="#">Impressum</a>
                    </p>
                </div>                
                </div>
            </div>
        </footer>