        <footer>
            <div  class="jumbotron">
                <p class="float-right">
                <a href="#">Impressum</a>
                </p>
                <p>Create by Christoph Mrasek - &copy; Copyright Snookerclub Neubrandenbug {{getCurrentYear}}</p>
            </div>

        </footer>