        <footer>
            <div  class="jumbotron jumbotron-fluid">
                <div class="row justify-content-center">
                <div class="col-6">
                    <p class="text-center">Create by Christoph Mrasek - &copy; Copyright Snookerclub Neubrandenbug {{getCurrentYear}}</p>
                </div>
                <div class="col-6">
                    <p class="text-center">
                        <a href="/about">Impressum</a>
                    </p>
                </div>                
                </div>
            </div>
        </footer>