<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Snookerclub Neubrandenburg</a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon float-right"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav navbar-nav">
                    {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link" id="übersicht-tab" href="/members" role="tab" aria-controls="Übersicht" aria-expanded="true">Übersicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="gastspieler-tab" href="/members/visitors" role="tab" aria-controls="Gastspieler">Meine Gäste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="breaks-tab" href="/members/breaks" role="tab" aria-controls="Breaks">Meine Breaks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rechnungen-tab" href="/members/bills" role="tab" aria-controls="Rechnungen">Meine Rechnungen</a>
                        </li>
                        {{#if user.isBoardMember}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Vorstand</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/board/members" role="button" aria-controls="dropdown2">Mitglieder verwalten</a>
                                <a class="dropdown-item" href="/board/bills" role="button" aria-controls="dropdown3">Rechnungen verwalten</a>
                                <a class="dropdown-item" href="/board/breaks" role="button" aria-controls="dropdown4">Breaks verwalten</a>
                                <a class="dropdown-item" href="/board/visitors" role="button" aria-controls="dropdown5">Gastumsätze verwalten</a>
                                <a class="dropdown-item" href="/board/register" role="button" aria-controls="dropdown6">Registrieren</a>
                            </div>
                        </li> 
                        {{/if}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                                Hallo <span id="srtUser">{{user.username}}</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/data/profile" role="button" aria-controls="dropdown1">Profil</a>
                                <a class="dropdown-item" href="/logout" role="button" aria-controls="dropdown3">Logout</a>
                            </div>
                        </li> 
                    {{else}}
                        {{!-- <li class="nav-item">
                            <a class="nav-link" href="/feature-one">Info</a>
                        </li> --}}
                        <li class="nav-item" href="/login">
                            <a class="nav-link" id="login-tab" href="/login" role="tab" aria-controls="Login">Login</a>
                        </li>

                    {{/if}}
                </ul>             
            </div>
        </div>
    </nav>
</header>
